.barcontainer {
  background-color: #3367d6;
  display: flex;
  flex-direction: row;
}
.logo-img {
  margin: 20px;
}
.input-container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}
.search-img {
  background-color: #2850a7;
  height: 40px;
  padding: 10px;
  margin: 2px;
}
.input-box {
  background-color: #2850a7;
  color: #ffffff;
  height: 40px;
  width: 400px;
  outline: none;
}
.unord-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 80vw;
}
.his-page {
  color: #475569;
  font-size: 18px;
  font-family: 'roboto';
  text-align: center;
  margin-top: 180px;
  margin-bottom: auto;
  align-self: center;
}
